@model Company

@section heading
{
    Companies
}
@section heading2
{
    Companies
}
@section title
{
    Details
}
<div>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Address: @Model.Address</p>
</div>