@model Company

@section heading
{
    Companies
}
@section heading2
{
    Companies
}
@section title
{
    Edit
}
@section style
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
}
<form asp-area="Admin" asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="mb-3">
        <label asp-for="Name">Company Name</label>
        <input asp-for="Name" class="form-control" id="name" placeholder="Enter Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" id="description" placeholder="Enter Description">@Model.Description</textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address">Company Address</label>
        <input asp-for="Address" class="form-control" id="address" placeholder="Enter Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="mb-1">
        <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
</form>
@section script
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @if (TempData["success"] is not null)
    { 
        <script>toastr.success('@TempData["success"]')</script>
    }
}